.project-cards {
    margin-top: 0.15rem;
    width: 100%;
    
}

.project-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
        
}

#project-search {
    width: 25%;
    float: left;
}

#new-project-btn {
    float: right !important;
    right: 0;
}