a.editor-create {
        display: inline-block;
        margin-bottom: 0.5em;
        cursor: pointer;
        color: #bb2525;
        text-decoration: none;
        font: 90%/1.45em "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif !important;
        
}
    
#create-task {
    position: absolute;
    right: 0;
    text-align: center;
}

.dataTables_filter > label {

    background-image: url('/static/searchicon.png'); 

    background-position: 2px 7px; 
    background-repeat: no-repeat; 
    padding-left: 2rem;

}

#delete-task{
    height: 33px;
    text-align: center;
    
    padding: 1px 5px;
    padding-bottom: 5px;
    margin-left: 5px;

}

.project-ul{
    display: flex;
    
    align-items: center;
    padding-left: 0px;
    margin-bottom: 0px;
    
}

#task-datatable tbody tr.selected {
    color: white;
    background-color: #eeeeee;
}

.top-breadcrumb {
    height: 20%;
    margin-bottom: 0;
    margin-top: 1.2rem;
    font-size: 1.2rem;
}

.breadcrumb-item > a {
    text-decoration: none;
}

#toggle-view-switch {
    margin-bottom: 25px;

}

.iconify {
    padding-bottom: 4px;
}


.nav-item-top {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: rgba(75, 119, 190, 1);

    margin-right: 2rem;
    padding-left: 2rem;
}

.nav-item-top > a {
    
    color:rgba(75, 119, 190, 1);
}

.nav-item-top > a:hover {
    color: rgba(75, 119, 190, 1);
    transform: translateY(-4px);
    transition: 0.5s;
}
