a.editor-create {
        display: inline-block;
        margin-bottom: 0.5em;
        cursor: pointer;
        color: #bb2525;
        text-decoration: none;
        font: 90%/1.45em "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif !important;
        
    }
    

#delete-task{
    height: 35px;
    text-align: center;
    
    padding: 5px 8px;

}

.toolbar{
    display: flex;
    justify-content: space-around;
}

.project-ul{
    width: 100%;

}

#task-datatable tbody tr.selected {
    color: white;
    background-color: #eeeeee;
}

.top-breadcrumb {
    height: 20%;
    margin-bottom: 0;
    margin-top: 1.2rem;
    font-size: 1.2rem;
}

.breadcrumb-item > a {
    text-decoration: none;
}