{% extends "test69.html" %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-text-light breadcrumb-secondary text-white">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ project_name }}</li>
          </ol>
        </nav>
        

<a class="editor-create" data-toggle="modal" data-target="#modal_add_row">+ Create new task</a>

<a class="editor-create" id="delete-task">- Delete task</a>
<style>
a.editor-create {
        display: inline-block;
        margin-bottom: 0.5em;
        cursor: pointer;
        color: #bb2525;
        text-decoration: none;
        font: 90%/1.45em "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif !important;
    }
    </style>


    <!-- The modal for the adding a task -->
<div class="modal fade" id="modal_add_row" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">New Task for: {{ project_name }} </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
            <label for="task_name" class="form-control-label">Task Name: </label>
            <input type="text" class="form-control" id="task_name" value="New Task for {{ project_name }}">
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
            <label for="assigned_to" class="form-control-label">Assigned To: </label>
            <input type="text" class="form-control" id="assigned_to">
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-tag prefix grey-text"></i>
            <label for="eta" class="form-control-label">ETA: </label>
                <input type="text" placeholder="MM/DD/YYYY"
                    onfocus="(this.type='date')" class="form-control" id="eta">

        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-unique" id="submit-add-task" data-dismiss="modal">Submit <i class="fas fa-paper-plane-o ml-1"></i></button>
      </div>
    </div>
  </div>
</div>
    <!----------------->




    <!-- My beautiful table that actually displays everything -->
   <table id="task-datatable" class="display select" style="width:100%">
        <thead>
            <tr>
                <th><input type="checkbox" id="select_all" /></th>

                <th>Task Name</th>
                <th>Assigned To: </th>
                <th>ETA: </th>
                <th>Progress: </th>
            </tr>
        </thead>

    </table>
    
    <!----------------->

                    <!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"> </script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">


<script>
$(document).ready(function() {


            // This repopulates the data on after adding atleast one task to your DB.
        $.get("/dashboard/<project_name>/get-python-task-data", function(data) {
            console.log($.parseJSON(data))
            populateDataTable(data)
        })

  var t = $('#task-datatable').DataTable();
    
    $('#task-datatable tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            t.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });



 $("#delete-task").click(function () {
        if(confirm("Are you sure?")) {

            console.log(t.row('.selected').index());
            
            // if we are here the guy probably said OK
            
            var data_array = t.row('.selected').data();            

            var which_row = t.row('.selected').index();
            var project_name = '{{ project_name }}'; 

            t.row('.selected').remove().draw( false );
            
            // 1 - task name, 2 - assigned to, 3 - eta, 4 - progress bar
            // this is safe ^ because that is how the data is added
            
            
            console.log(which_row);

                // send the data back
            $.post("/delete-task-method", {which_row:which_row, project_name:project_name});
            
             
        }
    });  
  
  

    $("#submit-add-task").click(function () {
        var task_name = $("#task_name").val();
        var member_name = $("#assigned_to").val();
        var eta = $("#eta").val();
        var project_name = '{{ project_name }}'; 
        
        t.row.add(["", task_name, member_name, eta, "progress_bar"]).draw(false);
        
        // Note to self: 
        //  No need to close it, the button has a nice data-dismiss
        
        
        // This posts the data after you're done adding a new task.
        $.post(         "/post-task-method",  {   task_name: task_name, 
                                    member_name: member_name,
                                    eta: eta,
                                    project_name: project_name    
                                });
    });

 } );    
 

function populateDataTable(data) {
    var data1 = JSON.parse(data);
    
    console.log(Object.keys(data1).length);

    // clear the table before populating it with more data
    $("#task-datatable").DataTable().clear();

    var length = Object.keys(data1.tasks).length;
    
    
    for(var i = 1; i < length+1; i++) {
      var task = data1.tasks['task'+i];

      $('#task-datatable').dataTable().fnAddData( [
        "",
        task.task_name,
        task.assigned_to,
        task.eta,
        "Dumb"
      ]);
    }
  }


</script>

{% endblock %}