{% extends "test69.html" %}

<!-- Set the nav to active first-->
{% block nav_dash %}active{% endblock nav_dash %}

{% block content %}

<nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="{{url_for('index')}}">Home</a></li>
          </ol>
</nav>
        
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">

    <a href="{{ url_for('new_project') }}" class="btn btn-dark btn-primary-medium active" role="button" aria-pressed="true">New Project</a>
    </div>

<!-- When this page is first loaded, no projects may exist, ensure there is no 500 response with if -->
{% if project_list %}
    <!-- cheap hack, make it so title displays once in an empty card -->
<div class = "card">
    <h5 class = "card-header"> Projects </h5>
</div>
<!-- run simple loop, make cards-->
{% for project in project_list %}
<div class="card">
  <div class="card-body">

      <a href={{url_for('show_tasks_for_project', project_name=project.project_name) }}> <h5 class="card-title"> {{ project.project_name }}</h5> </a>
      <p class="card-text"> Description: {{ project.project_desc }} </p>
      
     <p class="card-text"><small class="text-success">Num Members: {{ project.num_members }}, 
                                                                 Num Tasks: {{ project.num_tasks }} </small></p>


    <!-- The progress bar somewhat cockeyed but thats okay because im very accepting im an equal opprutunist i dont even k now wtf that is-->
    <div class="col-12 col-lg-8">
              <div class="progress-wrapper">
                  <div class="progress mb-0">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
          </div>
              
        <!-- Delete icon on the bottom right-->
          <a href={{url_for('delete_project', project_name=project.project_name)}} class="btn btn-icon-only float-right text-danger"
            onclick = "{if (confirm ( 'Are you sure you want to delete {{project.project_name}}?')) {this.document.formname.submit(); return true;} return false;}">

                 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
          </a>

      <div class="card-footer border-top border-gray-300 text-muted">
        Last Updated: 2 days ago
    </div>
        
  </div>
    </div>
    
{% endfor %}
    
{% endif %}

{% endblock %}