{% extends "test69.html" %}

{% block content %}
<nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ project_name }}</li>
          </ol>
        </nav>
        
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- bootstrap-table-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/bootstrap-table.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/bootstrap-table.min.js"></script>
    
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>


<div class="bootstrap-table bootstrap4">
      <div class="fixed-table-toolbar">
          <div class="columns columns-right btn-group float-right">
              <div class="keep-open btn-group" title="Columns">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-label="Columns" title="Columns" aria-expanded="false">
                    <i class="fa fa-th-list"></i>
                    
                    <span class="caret"></span>
                </button>
                
                <!-- The drop down menu on the right toolbar-->
                <div class="dropdown-menu dropdown-menu-right" style="">
                    <label class="dropdown-item dropdown-item-marker">
                        <input type="checkbox" data-field="tasks" value="1" checked="checked"> 
                            <span>Tasks</span>
                    </label>
                    <label class="dropdown-item dropdown-item-marker">
                        <input type="checkbox" data-field="team_members" value="2" checked="checked"> 
                            <span>Team Members</span>
                    </label>
                    
                    <label class="dropdown-item dropdown-item-marker">
                        <input type="checkbox" data-field="remaining_effort" value="3" checked="checked"> 
                        <span>Remaining Effort</span>
                    </label>
                    <label class="dropdown-item dropdown-item-marker">
                        <input type="checkbox" data-field="ETA" value="4" checked="checked"> 
                        <span>ETA</span>
                    </label>
                </div>
            </div>
        </div>
        
        
        <div class="float-right search btn-group">
          <input class="form-control search-input" type="search" placeholder="Search" autocomplete="off">
        </div>
      </div>
      
      <div class="fixed-table-container" style="padding-bottom: 0px;">
      <div class="fixed-table-header" style="display: none;"><table></table></div>
      <div class="fixed-table-body">
      <div class="fixed-table-loading table table-bordered table-hover" style="top: 50.5px;">
      <span class="loading-wrap">
      <span class="loading-text" style="font-size: 32px;">Loading, please wait</span>
      <span class="animation-wrap"><span class="animation-dot"></span></span>
      </span>
    
      </div>
  
  <table id="table" data-toggle="bootstrap-table" data-show-columns="true" data-multiple-select-row="true" 
                    data-click-to-select="true" data-pagination="true" data-search="true" 
                    data-url="https://examples.wenzhixin.net.cn/examples/bootstrap_table/data" 
                    data-side-pagination="server" class="table table-bordered table-hover">
  
      <!-- The header for my table -->
      <thead>
          <tr>
              <th class="bs-checkbox " style="width: 36px; " data-field="state">
                  <div class="th-inner ">
                      <label><input name="btSelectAll" type="checkbox"><span></span></label>
                  </div>
                  
                  <div class="fht-cell"></div>
              </th>
              
              <th style="" data-field="id">
                  <div class="th-inner sortable both asc">Tasks</div>
                      <div class="fht-cell"></div>
              </th>
              
              <th style="" data-field="team_members">
                  <div class="th-inner sortable both">Team Members</div>
                      <div class="fht-cell"></div>
              </th>
              
              <th style="" data-field="remaining_effort">
                  <div class="th-inner sortable both">Remaining Effort</div>
                  <div class="fht-cell"></div>
              </th>

              <th style="" data-field="eta">
                  <div class="th-inner sortable both">ETA</div>
                  <div class="fht-cell"></div>
              </th>
              
        </tr>
    </thead>


<tbody>


    <tr data-index="0">
        <td class="bs-checkbox " style="width: 36px; ">
        <label> 
            <input data-index="0" name="btSelectItem" type="checkbox">
            <span></span>
        </label>
        </td>
        
        <td>0</td><td>Item 0</td><td>$0</td></tr><tr data-index="1">
        <td class="bs-checkbox " style="width: 36px; "><label>
            <input data-index="1" name="btSelectItem" type="checkbox">
            <span></span>
            </label></td><td>1</td><td>Item 1</td><td>$1</td></tr><tr data-index="2"><td class="bs-checkbox " style="width: 36px; ">
            </tbody>
        </table></div>
      <div class="fixed-table-pagination" style="">
          <div class="float-left pagination-detail">
             <div class="page-list"><div class="btn-group dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="page-size">
        10
        </span>
        <span class="caret"></span>
        </button>
        <div class="dropdown-menu"> 
            <a class="dropdown-item active" href="#">10</a>
            <a class="dropdown-item " href="#">25</a>
            <a class="dropdown-item " href="#">50</a>
            <a class="dropdown-item " href="#">100</a>
        </div>
    
        </div> rows per page</div>
        </div>
        
        <div class="float-right pagination">
            <ul class="pagination">
                <li class="page-item page-pre">
                    <a class="page-link" aria-label="previous page" href="javascript:void(0)">‹</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" aria-label="to page 1" href="javascript:void(0)">1</a>
                </li>
                
                <li class="page-item">
                    <a class="page-link" aria-label="to page 2" href="javascript:void(0)">2</a>
                </li>
                
                <li class="page-item">
                    <a class="page-link" aria-label="to page 3" href="javascript:void(0)">3</a>
                </li>
                
                <li class="page-item">
                    <a class="page-link" aria-label="to page 4" href="javascript:void(0)">4</a>
                </li>
                
      </div>

<script>
$(document).ready(function() {
    var table = $('#table_id').DataTable( {
        lengthChange: false,
        buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
    } );
 
    table.buttons().container()
        .appendTo( '#example_wrapper .col-md-6:eq(0)' );
} );
</script>

{% endblock %}