{% extends "test69.html" %}
{% block nav_dash %}active{% endblock nav_dash %}

{% block content %}
<nav aria-label="breadcrumb" id="dashboard-crumb" class="top-breadcrumb">
    <ol class="breadcrumb breadcrumb-text-light breadcrumb-secondary text-white">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ project_name }}</li>
          </ol>
        </nav>
        
        
<ul class="nav justify-content-center" id="toggle-view-switch">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{{url_for('show_tasks_for_project', project_name=project_name)}}">Tabular-View</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="{{url_for('show_grid_view_tasks_for_projects', project_name=project_name)}}"  tabindex="-1" aria-disabled="true">Grid-View</a>
  </li>

</ul>


<div class="row">

<div class="col-12 mb-4">


   <div class="card border-0">
      <div class="card-header border-bottom d-flex align-items-center justify-content-between">
         <h2 class="fs-5 fw-bold mb-0">Team Members</h2>
         <a href="#" class="btn btn-sm btn-primary">See All</a>
      </div>
      <div class="card-body">
      
         <ul class="list-group list-group-flush list my--3">
         
         {% for name in member_names %}
            <li class="list-group-item px-0">
               <div class="row align-items-center">
               
               
                   {% if member_names[name] != None %}
                  <div class="col-auto"> <a href="{{url_for('profile', username=name) }}" class="avatar"><img class="rounded" alt="Invite user!" src="{{ member_names[name].avatar(32) }}"></a></div>
                  <div class="col-auto ms--2">
                     <h4 class="h6 mb-0"><a href="{{url_for('profile', username=name) }}">{{name}}</a></h4>
                     <div class="d-flex align-items-center">
                        <small>Online</small>
                     </div>
                  </div>

                   {% else %}
                  <div class="col-auto"> <a href="#" class="avatar"><img class="rounded" alt="Invite user!" src="{{ url_for('static', filename='defaulticon.png') }}"></a></div>
                  <div class="col-auto ms--2">
                     <h4 class="h6 mb-0">{{name}}</h4>
                     <div class="d-flex align-items-center">
                        <small>Invite this User!</small>
                     </div>
                  </div>

                   {% endif %}
               
                  <div class="col text-end">
                     <a href="#" class="btn btn-sm btn-secondary d-inline-flex align-items-center">


                        {% if member_names[name] == None %}
                        Invite
                        {% else %}
                        Message
                        {% endif %}
                    
                     </a>
                  </div>
               </div>
            </li>
            
        {% endfor %}            
            
         </ul>
      </div>
   </div>
   </div>


    <div class="col-12 mb-4">
        <div class="card border-0">
            <div class="card-header border-bottom">
                <h2 class="fs-5 fw-bold mb-1">Workload</h2>
            </div>

            <div class="card-footer border-0 px-3 py-4">
                <div id="chart-weekly-sales">
                      <canvas id="myChart"></canvas>

                </div>
            </div>
        </div>
    </div>
</div>

</div>



        <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_project_in_grid_view.css') }}">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script>
$(document).ready(function() {
const labels = [
'January',
'February',
'March',
'April',
'May',
'June',
];

const data = {
  labels: labels,
  datasets: [{
    label: 'My First Dataset',
    data: [65, 59, 80, 81, 56, 55, 40],
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(201, 203, 207, 0.2)'
    ],
    borderColor: [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      'rgb(54, 162, 235)',
      'rgb(153, 102, 255)',
      'rgb(201, 203, 207)'
    ],
    borderWidth: 1
  }]
};

const config = {
  type: 'bar',
  data: data,
  options: {
           legend: {
            display: false
         },

    scales: {
      yAxes: [
        {
          gridLines: {
                lineWidth: 0
            },
            ticks: {
                display: false
            }
        }
      ],
     xAxes: [
        {
          gridLines: {
                lineWidth: 0
            },
          barPercentage: 0.2

        }
      ]
    }

  },
};

  var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
  
  });

</script>

        
{% endblock %}