{% extends "test69.html" %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-text-light breadcrumb-secondary text-white">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ project_name }}</li>
          </ol>
        </nav>
        
        
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_add_row">
Something Here
</button>


    <!-- The modal for the adding a task -->
<div class="modal fade" id="modal_add_row" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">New Task for: {{ project_name }} </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
            <label for="task_name" class="form-control-label">Task Name: </label>
            <input type="text" class="form-control" id="task_name" value="New Task for {{ project_name }}">
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
            <label for="assigned_to" class="form-control-label">Assigned To: </label>
            <input type="text" class="form-control" id="assigned_to">
        </div>
        
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
            <label for="num_members" class="form-control-label">Number of Members: </label>
            <input type="text" class="form-control" id="num_members">
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-tag prefix grey-text"></i>
            <label for="eta" class="form-control-label">ETA: </label>
            <input type="text" class="form-control" id="eta">
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-unique" id="submit">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
      </div>
    </div>
  </div>
</div>
    <!----------------->




    <!-- My beautiful table that actually displays everything -->
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
                <th>Column 4</th>
                <th>Column 5</th>
            </tr>
        </thead>

    </table>
    
    <!----------------->

                    <!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">

<script>
$(document).ready(function() {
    var t = $('#example').DataTable();
    var counter = 1;
 
    $('#submit').on( 'click', function () {
        t.row.add( [
            counter +'.1',
            counter +'.2',
            counter +'.3',
            counter +'.4',
            counter +'.5'
        ] ).draw( false );
 
        counter++;
    } );
 } );


        $("#submit").click(function () {
            var task_name = $("#task_name").val();
            var member_name = $("#assigned_to").val();
            var num_members = $("#num_members").val();
            var eta = $("#eta").val();
            
            var str = task_name + member_name + num_members + eta;
            alert(str);
        });
        
</script>



{% endblock %}